
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
}
.container {
    display: flex;
    height: 100vh;
}
.logo {
    margin-bottom: 1px; 
}

.logo img {
    width: 60px;
    height: auto;
    display: block;
    margin: 0 auto 15px auto;
}
.form-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    background-color: #fff3da;
}

.form-section h2 {
    margin-bottom: 8px;
}

.form-section p {
    margin-bottom: 24px;
    color: #666;
    font-size: 14px;
}
label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    display: block;
}

.baris-bawah {
    display: flex;
    justify-content: space-between;
    align-items: center;           
    margin-bottom: 20px;
    font-size: 14px;
}


.checkbox-label {
    font-weight: normal;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px; 
}

.checkbox-label input {
    width: auto;
    margin-bottom: 0;
}

.forgot-link {
    color: #ff0080;
    text-decoration: none;
}

.forgot-link:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    margin-bottom: 10px;
}

.but1{
    background-color: #ff4fa4;
    color: white;
}

.but1:hover {
    background-color: #fd3395;
}


.but2 {
    background-color:  #fddb93;
    color: #333;
    border: 1px solid  #ffecc3;
}

.but2:hover {
    background-color: #f9d37f;
}


.image-section {
    flex: 1;
    background: url('image.png') center/cover no-repeat;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    
    .image-section {
        display: none; 
    }
}
